<h1>Show Cocktail</h1>
<h2> <%= @cocktail.name %> </h2>


<h2><% @cocktail.doses.each do |dose|%></h2>
     <h2> <%= dose.description  %> </h2>
     <h2> <%= dose.ingredient.name %> </h2>
    <% end %>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description  %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
