<h1>Show Cocktail</h1>

<div class="card-product">
  <img src="<%= cl_image_path @cocktail.photo.key %>" />
  <div class="card-product-infos">
    <h2><%= @cocktail.name %></h2>
      <% @cocktail.ingredients.each do |ingredient| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">   <%= ingredient.name %> </li>
        </ul>
        <% end %>
  </div>
</div>


<% @cocktail.doses.each do |dose|%>
     <ul><li class="list-inline-item"> <%= dose.description  %> </li>
     <li class="list-inline-item"> <%= dose.ingredient.name %> </li></ul>
    <% end %>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description  %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>

  <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
  <%= link_to 'Cocktails lists', root_path %>
